local_costmap/costmap:
  ros__parameters:
    use_sim_time: true

    # Frames (must match your TF tree from step 1)
    global_frame: odom
    robot_base_frame: base_link

    # Rolling window centered on the robot
    rolling_window: true
    width: 10
    height: 10
    resolution: 0.05

    update_frequency: 10.0
    publish_frequency: 5.0
    transform_tolerance: 0.5

    # Robot footprint for inflation + collision margin
    # footprint: "[[0.25,0.25],[0.25,-0.25],[-0.25,-0.25],[-0.25,0.25]]"
    # alternatively:
    robot_radius: 0.5

    plugins: ["obstacle_layer", "inflation_layer"]

    obstacle_layer:
      plugin: "nav2_costmap_2d::ObstacleLayer"
      enabled: true
      observation_sources: scan
      scan:
        topic: /scan_fixed
        data_type: "LaserScan"
        marking: true
        clearing: true
        obstacle_min_range: 0.2
        obstacle_max_range: 28.0
        raytrace_min_range: 0.2
        raytrace_max_range: 29.0
        max_obstacle_height: 50.0
        inf_is_valid: true
        # min_obstacle_height: -50.0

    inflation_layer:
      plugin: "nav2_costmap_2d::InflationLayer"
      enabled: true
      inflation_radius: 0.8
      cost_scaling_factor: 5.0